# Игнорировать файлы pycache
__pycache__/

# Игнорировать миграции БД
*/migrations/

# Игнорировать файлы настроек локального окружения
.env

# Игнорировать файлы логов
*.log
*.pyc
/route/__pycache__/
/temruk/__pycache__/
/titorovka/__pycache__/
